/* .App{
  background-image: url('./images/haikyu1.png');
  min-height: 100vh;
  background-size: cover;
} */
.Todos{
  margin-top: 5%;
  background-color: #35364a;
}
.Todoheading{
  color:#ff7b00;
  font-family: 'Yuji Hentaigana Akebono', cursive;
}
.addToDo{
  color:#ff7b00;
  background-color: #35364a;
  border-radius: 2px;
  border-color: #696969;
  padding: 1%;
}